@model PFLFri3.Models.ProductDetails

@{
    ViewData["Title"] = "Product Details";
}

@if (Model != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail text-center">
                    <img src="@Url.Content(Model.imageURL)" />

                    <h3>@Html.DisplayFor(modelItem => Model.name)</h3>
                    <p>@Html.DisplayFor(modelItem => Model.description)</p>
                </div>
            </div>

            <form method="post" action="order/add">
                <div class="col-md-4">

                    <h3>Delivery Method</h3>
                    <select class="selectpicker form-control" name="MailingMethod">
                        <option>-</option>
                        @foreach (var deliveryMethods in Model.deliveredPrices)
                        {
                        <option>@Html.DisplayFor(modelItem => deliveryMethods.deliveryMethodCode) - @Html.DisplayFor(modelItem => deliveryMethods.description) - $@Html.DisplayFor(modelItem => deliveryMethods.price) </option>
                        }
                    </select>
                    <fieldset class="form-control">
                        <label for="Quantity">Quantity:</label>
                        <input type="text" name="Quantity" value="" required />
                        <input type="hidden" name="id" value="@Model.id" />
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Order</button>
                </div>

                <div class="col-md-4">
                    <fieldset>

                        <legend>Customer</legend>
                            <div class="form-control">
                                <label for="firstName">First Name:</label>
                                <input type="text" name="FirstName" value="Scott" required />
                            </div>
                            <div class="form-control">
                                <label for="lastname">Last Name:</label>
                                <input type="text" name="LastName" value="McCaffrey" required />
                            </div>
                            <div class="form-control">
                                <label for="companyName">Company Name:</label>
                                <input type="text" name="CompanyName" value="Yellowstone Drones" />
                            </div>
                            <div class="form-control">
                                <label for="address1">Address:</label>
                                <input type="text" name="Address1" value="135 Pray Rd" Required />
                            </div>
                            <div class="form-control">
                                <label for="address2"></label>
                                <input type="text" name="Address2" value="" />
                            </div>
                            <div class="form-control">
                                <label for="city">City:</label>
                                <input type="text" name="City" value="Pray" required />
                            </div>
                            <div class="form-control">
                                <label for="state">State:</label>
                                <input type="text" name="State" value="MT" required />
                            </div>
                            <div class="form-control">
                                <label for="postalCode">Postal Code:</label>
                                <input type="text" name="PostalCode" value="59065" required />
                            </div>
                            <div class="form-control">
                                <label for="countryCode">Country Code:</label>
                                <input type="text" name="CountryCode" value="US" required />
                            </div>
                            <div class="form-control">
                                <label for="email">E-Mail:</label>
                                <input type="text" name="Email" value="mccaffrey.scott@gmail.com" required />
                            </div>
                            <div class="form-control">
                                <label for="phone">Phone:</label>
                                <input type="text" name="Phone" value="9788317098" />
                            </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
}

